
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You cannot apply online for New Style Jobseeker's Allowance</h1>
            <p>Based on your date of birth, you cannot apply online for New Style Jobseeker’s Allowance. To apply online you must be 18 or over.</p>
            <p>If you think you are eligible, you can apply by contacting Jobcentre Plus if you live in England, Wales or Scotland, or the Jobs and Benefits office if you live in Northern Ireland.</p>
            <div class="contact">
                <h2 class="govuk-heading-s">If you live in England, Wales or Scotland</h2>
                <p>To apply for New Style Jobseeker’s Allowance <a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims">contact Jobcentre Plus</a>.<br>
                You can also <a href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">find your nearest Jobcentre Plus</a>.</p>
            </div>
            <div class="contact">
                <h2 class="govuk-heading-s">If you live in Northern Ireland</h2>
                <p>To apply for New Style Jobseeker’s Allowance <a href="https://www.nidirect.gov.uk/contacts/jobs-and-benefits-offices">contact or visit your nearest Jobs and Benefits office</a>.</p>
            </div>
            <div>
                <h2 class="govuk-heading-s">If you're not sure which benefit to apply for</h2>
                <p><a href="https://www.gov.uk/browse/benefits">Find other benefits</a></p>
            </div>
        </div>
    </div>

{% endblock %}