
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
         <span class="govuk-caption-xl">Personal details</span>
        Your language preferences
      </h1>
    </legend>
    <div id="welsh-hint" class="govuk-hint">
      If you live in Wales you can choose to communicate with us in Welsh.
    </div>
  </fieldset>
</div>
<form action="address-is-it-postal" method="post">
      {{ govukRadios({
  classes: "govuk-radios--inline",
  name: "contactInWelsh",
  fieldset: {
    legend: {
      text: "Which language would you like us to contact you in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This includes written communications such as text messages and emails."
  },
  items: [
    {
      value: "welsh",
      text: "Welsh",
      checked: checked("contactInWelsh", "welsh")
    },
    {
      value: "english",
      text: "English",
      checked: checked("contactInWelsh", "english")
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "speakInWelsh",
  fieldset: {
    legend: {
      text: "Which language would you like us to speak to you in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This includes telephone calls and face-to-face meetings."
  },
  items: [
    {
      value: "welsh",
      text: "Welsh",
      checked: checked("speakInWelsh", "welsh")
    },
    {
      value: "english",
      text: "English",
      checked: checked("speakInWelsh", "english")
    }
  ]
}) }}
{{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
