{% extends "layouts/nsesa/layout.html" %}

{% block pageTitle %}
Has your doctor said you might have less than 6 months to live due to any of your conditions? - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="form" method="post" action="live-less-than-12-months">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">
              <span class="govuk-caption-xl">Health details</span>
        Has your doctor said you might have less than 12 months to live due to any of your conditions?
      </h1>

            <p>This could also be a consultant or a specialist nurse.</p>

            <p>You may get benefits at a higher rate and start getting payments quicker than usual. This is sometimes called &lsquo;special rules&rsquo;.</p>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-1" name="terminal-illness" type="radio" value="Yes~sr1-report">
                <label class="govuk-label govuk-radios__label" for="changed-name-1">
              Yes
            </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="terminal-illness" type="radio" value="No~hospital">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
              </div>
            </div>
          </fieldset>
        </div>

        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </form>

    </div>
    <!-- govuk-grid-column-two-thirds -->
  </div>
  <!-- govuk-grid-row -->
{% endblock %}