{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Other benefits</span>
        Have you applied for any other benefits in the last 12 weeks?
      </h1>

      <form action="guard" method="post">

        {{ govukRadios({
          idPrefix: "ob-are-you",
          name: "obAreYou",
          classes: "govuk-radios--inline",
          items: [{
            value: "yes~what-other-benefits",
            checked: checked("obAreYou", "Yes"),
            text: "Yes"
          }, {
            value: "no~/nsjsa/to-do-5",
            checked: checked("obAreYou", "No"),
            text: "No"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}