{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Other benefits</span>
        Tell us what other benefits you have applied for in the last 12 weeks
      </h1>

      <form action="what-other-benefits" method="post">
        {% call govukFieldset({}) %}

        {{ govukCharacterCount({
          name: "ob-more-detail",
          id: "ob-more-detail",
          maxlength: 100,
          value: data['ob-more-detail'],
          hint: {
            html: "For example, Carer's Allowance"
          }
        }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue",
          href: "/nsjsa/to-do-5"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}