{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current employment</span>
        Can you choose if you’re paid for this voluntary work?
      </h1>

      <form action="choose-to-be-paid" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "ce-voluntary-work-can-you-choose",
          name: "ceVoluntaryWorkCanYouChoose",
          items: [{
            value: "yes~get-paid",
            text: "Yes",
            checked: checked("ceVoluntaryWorkCanYouChoose", "yes")
          },
          {
            value: "no~get-paid",
            text: "No",
            checked: checked("ceVoluntaryWorkCanYouChoose", "no")
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}