{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  {#
<p><strong>
Note: The pound sign needs to be inside the input text box, this is styled by macros/macros.njk
</strong></p>
#}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current employment</span>
        How often are you paid?
      </h1>

      <form action="payment-frequency" method="post">

        <div class="govuk-form-group">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-work-paid" name="current-work-paid" type="radio" value="Weekly" data-aria-controls="conditional-current-work-paid" {{ checked("current-work-paid", "Weekly") }}>
              <label class="govuk-label govuk-radios__label" for="current-work-paid">
                  Weekly
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-work-paid">
              <div class="govuk-form-group">
                <label class="govuk-label" for="current-work-paid-weekly">
                  <strong>What is your net pay?<br></strong>
                    This is the exact amount that is paid into your bank account
                  </label>
                <div id="current-work-paid-weekly-hint" class="govuk-hint">
                    For example, £80.00
                  </div>
                <input class="govuk-input govuk-!-width-one-third" id="current-work-paid-weekly-amount" name="current-work-paid-weekly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-work-paid-weekly-amount'] }}">
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-work-paid-2" name="current-work-paid" type="radio" value="Every 2 weeks" data-aria-controls="conditional-current-work-paid-2" {{ checked("current-work-paid", "Every 2 weeks") }}>
              <label class="govuk-label govuk-radios__label" for="current-work-paid">
                  Every 2 weeks
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-work-paid-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="current-work-paid-weekly">
                  <strong>What is your net pay?<br></strong>
                    This is the exact amount that is paid into your bank account
                  </label>
                <div id="current-work-paid-weekly-hint" class="govuk-hint">
                    For example, £80.00
                  </div>
                <input class="govuk-input govuk-!-width-one-third" id="current-work-paid-weekly-amount" name="current-work-paid-fortnightly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-work-paid-fortnightly-amount'] }}">
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-work-paid-4" name="current-work-paid" type="radio" value="Every 4 weeks" data-aria-controls="conditional-current-work-paid-4" {{ checked("current-work-paid", "Every 4 weeks") }}>
              <label class="govuk-label govuk-radios__label" for="current-work-paid">
                  Every 4 weeks
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-work-paid-4">
              <div class="govuk-form-group">
                <label class="govuk-label" for="current-work-paid-weekly">
                  <strong>What is your net pay?<br></strong>
                    This is the exact amount that is paid into your bank account
                  </label>
                <div id="current-work-paid-weekly-hint" class="govuk-hint">
                    For example, £80.00
                  </div>
                <input class="govuk-input govuk-!-width-one-third" id="current-work-paid-weekly-amount" name="current-work-paid-4weeks-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-work-paid-4weeks-amount'] }}">
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-work-paid-month" name="current-work-paid" type="radio" value="Every month" data-aria-controls="conditional-current-work-paid-monthly" {{ checked("current-work-paid", "Every month") }}>
              <label class="govuk-label govuk-radios__label" for="current-work-paid">
                  Every month
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-current-work-paid-monthly">
              <div class="govuk-form-group">
                <label class="govuk-label" for="current-work-paid-weekly">
                  <strong>What is your net pay?<br></strong>
                    This is the exact amount that is paid into your bank account
                  </label>
                <div id="current-work-paid-weekly-hint" class="govuk-hint">
                    For example, £80.00
                  </div>
                <input class="govuk-input govuk-!-width-one-third" id="current-work-paid-weekly-amount" name="current-work-paid-monthly-amount" type="numeric" spellcheck="false" autocomplete="email" value="{{ data['current-work-paid-monthly-amount'] }}">
              </div>
            </div>
          </div>
        </div>

        {{ govukButton({
          text: "Continue",
          href: "employer-name"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}