{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <nav id="app-menu" class="claimant-tabbed-navigation" aria-label="Site navigation">
                        <ul class="claimant-tabbed-navigation__list">
                            <li class="claimant-tabbed-navigation__item ">
                                <a href="#" class="claimant-tabbed-navigation__link">Home</a>
                            </li>
                            <li class="claimant-tabbed-navigation__item active">
                                <a href="#" id="to-do-tab" class="claimant-tabbed-navigation__link">To-do list</a>
                            </li>
                            <li class="claimant-tabbed-navigation__item ">
                                <a href="#" class="claimant-tabbed-navigation__link">Journal</a>
                            </li>
                        </ul>
                    </nav>

                    <h1 class="govuk-heading-l govuk-!-margin-top-8">
                        <span class="govuk-caption-xl">To-do</span>
                            Upload proof of employment documents
                    </h1>

                    <h2 class="govuk-heading-m">Documents we need</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>payslips for the last three months</li>
                        <li>P45 from your last employer</li>
                    </ul>
                    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

                    {{ govukInsetText({
  text: "Do not include any personal information such as date of birth, National Insurance number, bank details or photographs of yourself."
}) }}

                    <p class="govuk-body">You need to do this by <strong>23 October 2024</strong>.</p>

                    <form action="declaration" method="POST">

                        <h2 class="govuk-heading-m">Upload your documents</h2>
                        <p class="govuk-body">You can upload the following file types:</p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li>PDF files</li>
                            <li>jpgs or tiffs</li>
                        </ul>
                        <p class="govuk-body">Make sure the words on any photos are clear and readable. If you have  more than one document, upload each as a separate file. </p>

                        <p class="govuk-body">The total file size must be under 12.5MB.</p>

                        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

                        {{ govukFileUpload({
  id: "file-upload-1",
  name: "fileUpload1",
  label: {
    text: "Upload a file"
  }
}) }}

                        {{ govukButton({
              text: "Continue",
              href: "check-upload"
          }) }}

                    </form>
                </div>
            </div>
        </main>
    </div>

{% endblock %}