{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <nav id="app-menu" class="claimant-tabbed-navigation" aria-label="Site navigation">
            <ul class="claimant-tabbed-navigation__list">
              <li class="claimant-tabbed-navigation__item active">
                <a href="#" id="to-do-tab" class="claimant-tabbed-navigation__link">To-do list</a>
              </li>
              <li class="claimant-tabbed-navigation__item ">
                <a href="#" class="claimant-tabbed-navigation__link">Journal</a>
              </li>
            </ul>
          </nav>

          {% set currentlyworking = false %}
          {% set jservice = false %}
          {% set resultjservice = "no" %}
          {% set startDateItems = todaysDate.original %}

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

              <!-- APPLICATION START DATE -->
              <h2 class="govuk-heading-l">Claim start date</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Claim start date
          </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['claimstart'] == "yes" %}
                      <span class='date'></span>
                    {% endif %}
                    {% if data['claimstart'] == "no" %}
                      {{ data['claim-start-day'] }}
                      {{ data['claim-start-month']  }}
                      {{ data['claim-start-year'] }}
                    {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                {% if data['claimstart'] == "no" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Available for work since
            {% if data['claimstart'] == "yes" %}
                        <span class='date'></span>
                      {% endif %}
                      {% if data['claimstart'] == "no" %}
                        {{ data['claim-start-day'] }}
                        {{ data['claim-start-month']  }}
                        {{ data['claim-start-year'] }}
                      {% endif %}?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['ceCurrentlyWorking'] | title }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/2-claim-start/available-for-work">
              Change
              <span class="govuk-visually-hidden"> answer</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Searching for work since
            {% if data['claimstart'] == "yes" %}
                        <span class='date'></span>
                      {% endif %}
                      {% if data['claimstart'] == "no" %}
                        {{ data['claim-start-day'] }}
                        {{ data['claim-start-month']  }}
                        {{ data['claim-start-year'] }}
                      {% endif %}?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['ceCurrentlySearching'] | title }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/2-claim-start/searching-for-work">
              Change
              <span class="govuk-visually-hidden"> answer</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Why did you not apply before today?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['why-did-you-not-claim'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/2-claim-start/why-have-you-not-claimed">
              Change
              <span class="govuk-visually-hidden"> answer</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            In paid work since 
            {% if data['claimstart'] == "yes" %}
                        <span class='date'></span>
                      {% endif %}
                      {% if data['claimstart'] == "no" %}
                        {{ data['claim-start-day'] }}
                        {{ data['claim-start-month']  }}
                        {{ data['claim-start-year'] }}
                      {% endif %}?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['cePaidWork'] | title }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/2-claim-start/any-paid-work">
              Change
              <span class="govuk-visually-hidden"> answer</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Unable to work because of illness since
            {% if data['claimstart'] == "yes" %}
                        <span class='date'></span>
                      {% endif %}
                      {% if data['claimstart'] == "no" %}
                        {{ data['claim-start-day'] }}
                        {{ data['claim-start-month']  }}
                        {{ data['claim-start-year'] }}
                      {% endif %}?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['unableToWork'] == "no" %}
                        {{ data['unableToWork'] | title }}
                      {% endif %}
                      {% if data['unableToWork'] == "yes" %}
                        {{ data['unableToWork'] | title }}, {{ data['illnessStartDay'] }}/{{ data['illnessStartMonth'] }}/{{ data['illnessStartYear'] }} to {{ data['illnessFinishDay'] }}/{{ data['illnessFinishMonth'] }}/{{ data['illnessFinishYear'] }}
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/2-claim-start/any-paid-work">
              Change
              <span class="govuk-visually-hidden"> answer</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Travelled outside of England, Wales, Scotland or Northern Irleand since
            {% if data['claimstart'] == "yes" %}
                        <span class='date'></span>
                      {% endif %}
                      {% if data['claimstart'] == "no" %}
                        {{ data['claim-start-day'] }}
                        {{ data['claim-start-month']  }}
                        {{ data['claim-start-year'] }}
                      {% endif %}?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['beenOnHoliday'] == "no" %}
                        {{ data['beenOnHoliday'] | title }}
                      {% endif %}
                      {% if data['beenOnHoliday'] == "yes" %}
                        {{ data['beenOnHoliday'] | title }}, {{ data['holidayStartDay'] }}/{{ data['holidayStartMonth'] }}/{{ data['holidayStartYear'] }} to {{ data['holidayFinishDay'] }}/{{ data['holidayFinishMonth'] }}/{{ data['holidayFinishYear'] }}
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/2-claim-start/been-on-holiday">
              Change
              <span class="govuk-visually-hidden"> answer</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Had been in full-time education since
            {% if data['claimstart'] == "yes" %}
                        <span class='date'></span>
                      {% endif %}
                      {% if data['claimstart'] == "no" %}
                        {{ data['claim-start-day'] }}
                        {{ data['claim-start-month']  }}
                        {{ data['claim-start-year'] }}
                      {% endif %}?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['fulltimeEducation'] | title}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/2-claim-start/been-on-holiday">
              Change
              <span class="govuk-visually-hidden"> answer</span>
                      </a>
                    </dd>
                  </div>

                  {% if data['asked-for-advice']=="yes" %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
              Had asked for advice about applying since
              {% if data['claimstart'] == "yes" %}
                          <span class='date'></span>
                        {% endif %}
                        {% if data['claimstart'] == "no" %}
                          {{ data['claim-start-day'] }}
                          {{ data['claim-start-month']  }}
                          {{ data['claim-start-year'] }}
                        {% endif %}?
            </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['asked-for-advice'] | title }}
                        <br>
                        {{ data['more-information'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a href="/v3_0-citizen/2-claim-start/asked-for-advice">
                Change
                <span class="govuk-visually-hidden"> answer</span>
                        </a>
                      </dd>
                    </div>
                  {% endif %}

                {% endif %}
              </dl>

              <!-- PERSONAL DETAILS -->
              <h2 class="govuk-heading-l">Personal details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['national-insurance-number'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/nino">
              Change
              <span class="govuk-visually-hidden"> your National Insurance number</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Name
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['first-name'] }}
                    {{ data['last-name'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/about-you">
              Change
              <span class="govuk-visually-hidden"> your name</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
                  <dd class="govuk-summary-list__value">

                    {{ data['dobDay'] }}
                    {{ data['dobMonth']  }}
                    {{ data['dobYear'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/dob">
              Change
              <span class="govuk-visually-hidden"> your date of birth</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Home address
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['address-line-1'] }}, 
            {% if data['address-line-2'] %}
                      {{ data['address-line-2'] }},
            {% endif %}
                    {{ data['address-town'] }}, 
            {{ data['address-postcode'] | upper }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/address">
              Change
              <span class="govuk-visually-hidden"> your address</span>
                    </a>
                  </dd>
                </div>
                {% if data['contactInWelsh'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Which language would you like us to contact you in?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['contactInWelsh']| title }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/3-details/welsh">
              Change
              <span class="govuk-visually-hidden"> your name</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Which language would you like us to speak to you in?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['speakInWelsh'] | title}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/3-details/welsh">
              Change
              <span class="govuk-visually-hidden"> your name</span>
                      </a>
                    </dd>
                  </div>
                {% endif %}
                {# <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Do you want to add a different address for your post?
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['detailsAddDifferentPostalAddress'] | title}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/address-is-it-postal">
              Change
              <span class="govuk-visually-hidden"> your your answer</span>
                    </a>
                  </dd>
                </div> #}

                {# {% if data['detailsAddDifferentPostalAddress'] == "Yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Postal address
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['postal-address-line-1'] }}, 
            {% if data['postal-address-line-2'] %}
                        {{ data['postal-address-line-2'] }},
            {% endif %}
                      {{ data['postal-address-town'] }}, 
            {{ data['postal-address-postcode'] | upper}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="/v3_0-citizen/3-details/address-postal-address">
              Change
              <span class="govuk-visually-hidden"> postal address</span>
                      </a>
                    </dd>
                  </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['contact-telephone-number']=="yes" %}
                      {{ data['telephone-number'] }}
                    {% endif %}
                    {% if data['contact-telephone-number']=="no" %}
            Not provided
            {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/contact-phone">
              Change
              <span class="govuk-visually-hidden"> your phone number</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Email address
          </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['contact-email-address']=="yes" %}
                      {{ data['contactemail-address'] }}
                    {% endif %}
                    {% if data['contact-email-address']=="no" %}
            Not provided
            {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/contact-email">
              Change
              <span class="govuk-visually-hidden"> your email address</span>
                    </a>
                  </dd>
                </div> #}

              </dl>

              <!-- BANK DETAILS -->

              <h2 class="govuk-heading-l">Bank details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Bank details
          </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['pay-account-holder'] %}
                      <strong>Account holder:</strong>
                      {{ data['pay-account-holder'] }}<br>
                      <strong>Sort code:</strong>
                      {{ data['sort-code'] }}<br>
                      <strong>Account number:</strong>
                      {{ data['pay-account-number'] }}
                      {% if data['pay-reference-number'] %}
                        <strong>Building society roll or reference number:</strong>
                        {{ data['pay-reference-number'] }}
                      {% endif %}
                    {% else %}
            Not provided
            {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/3-details/bank-account">
              Change
              <span class="govuk-visually-hidden"> your bank details</span>
                    </a>
                  </dd>
                </div>

              </dl>

              <!-- OTHER BENEFITS -->
              <h2 class="govuk-heading-l">Other benefits</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Have you applied for any other benefits in the last 12 weeks?
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['obAreYou'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/4-other-benefits/guard">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
                    </a>
                  </dd>
                </div>

                {% if data['obAreYou'] == "Yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Tell us what other benefits you have applied for in the last 12 weeks
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['ob-more-detail'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!-- <a href="/v3_0-citizen/4-other-benefits/what-other-benefits">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>-->
                    </dd>
                  </div>
                {% endif %}
              </dl>

              <!-- JURY SERVICE -->
              <h2 class="govuk-heading-l">Jury service</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Have you been on jury service in the last 12 weeks?
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['juryService'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/5-jury-service/have-been">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
                    </a>
                  </dd>
                </div>

                {% if data['juryService'] == "Yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            When was this jury service?
          </dt>
                    <dd class="govuk-summary-list__value">

                      {{ data['juryStartDay'] }}/{{ data['juryStartMonth']}}/{{ data['juryStartYear'] }} to {{ data['juryFinishDay'] }}/{{ data['juryFinishMonth']}}/{{ data['juryFinishYear'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!--<a href="/v3_0-citizen/5-jury-service/period">
              Change
              <span class="govuk-visually-hidden"> jury service dates</span>
            </a> -->
                    </dd>
                  </div>
                {% endif %}
              </dl>

              <!-- CURRENT EMPLOYMENT -->
              <h2 class="govuk-heading-l">Current work</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Are you in any form of work at the moment?
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['ceCurrentlyWorking'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    {% if data['ceCurrentlyWorking'] == "No" %}
                      <a href="/v3_0-citizen/6-current-employment/guard">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>
              </dl>

              {% if data['ceCurrentlyWorking'] == "Yes" %}
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">Current employer - First</h3>
                  </div>
                  <div class="govuk-grid-column-one-third govuk-align-right" style="text-align: right;">
                    <a href="/v3_0-citizen/6-current-employment/guard" class="govuk-body" aria-label="Change First Previous employer">Change</a>
                  </div>
                </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Is this paid or voluntary?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['ceCurrentWorkType'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/type">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  {% if data['ceCurrentWorkType'] == "Voluntary" %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
            Can you choose if you're paid for this voluntary work?
          </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['ceVoluntaryWorkCanYouChoose'] | title }}
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/choose-to-be-paid">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
            Do you get paid for this voluntary work?
          </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['ceGetPaid'] | title}}
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/get-paid">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                    </div>
                  {% endif %}
                  {% if data['ceCurrentWorkType'] == "Paid" or data['ceGetPaid'] == "yes" %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
            How often are you paid?
          </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['current-work-paid'] }}
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/payment-frequency">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
            What’s your net pay?
          </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data['current-work-paid']=="Weekly" %}
              £{{ data['current-work-paid-weekly-amount'] }}
                        {% endif %}
                        {% if data['current-work-paid']=="Every 2 weeks" %}
              £{{ data['current-work-paid-fortnightly-amount'] }}
                        {% endif %}
                        {% if data['current-work-paid']=="Every 4 weeks" %}
              £{{ data['current-work-paid-4weeks-amount'] }}
                        {% endif %}
                        {% if data['current-work-paid']=="Every month" %}
              £{{ data['current-work-paid-monthly-amount'] }}
                        {% endif %}
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/payment-frequency">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                    </div>
                  {% endif %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What is the name of your current employer?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['employer-name'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/employer-name">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What is the address of your current employer?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['ce-address-line-1'] }},
            {% if data['ce-address-line-2'] %}
                        {{ data['ce-address-line-2'] }},
            {% endif %}
                      {{ data['ce-address-town'] }}
                      {% if data['ce-address-postcode'] %}
            , {{ data['ce-address-postcode'] | upper }}
                      {% endif %}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="v3_0-citizen/6-current-employment/employer-address">
              Change
              <span class="govuk-visually-hidden"> your employers address</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            How many hours a week do you normally work in this job?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['ceHoursWorkedAWeek'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/hours">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Are you self-employed or a company director in this job?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['ceSelfEmployedOrCompanyDirector'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/6-current-employment/self-employed-or-company-director">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                </dl>

                <div class="govuk-grid-row govuk-!-margin-bottom-9">
                  <div class="govuk-grid-column-two-thirds">
                    <a href="/v3_0-citizen/6-current-employment/type" class="govuk-body">Add another employer</a>

                  </div>
                  <div class="govuk-grid-column-one-third govuk-align-right" style="text-align: right;">
                    <a href="remove-ce-employer" class="govuk-body" aria-label="Remove First previous employer details">Remove employer details</a>
                  </div>
                </div>
              {% endif %}

              <!-- PREVIOUS EMPLOYMENT -->
              <h2 class="govuk-heading-l govuk-!-margin-top-9">Previous employment</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Have you had a job that ended in the last 6 months?
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['peLastSixMonths'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    {% if data['peLastSixMonths'] == "No" %}
                      <a href="/v3_0-citizen/7-previous-employment/job-ended-last-six-months">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>

              </dl>

              <!-- FIRST PREVIOUS EMPLOYMENT -->
              {% if data['peLastSixMonths'] == "Yes" %}
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">Previous employer - First</h3>
                  </div>
                  <div class="govuk-grid-column-one-third govuk-align-right" style="text-align: right;">
                    <a href="/v3_0-citizen/7-previous-employment/job-ended-last-six-months" class="govuk-body" aria-label="Change First Previous employer">Change</a>
                  </div>
                </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            When did you work for this employer?
          </dt>
                    <dd class="govuk-summary-list__value">

                      {{ data['peStartDay'] }}/{{ data['peStartMonth']}}/{{ data['peStartYear'] }} to {{ data['peFinishDay'] }}/{{ data['peFinishMonth']}}/{{ data['peFinishYear'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/7-previous-employment/type">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Why did this job end?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['peWhyEnd'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/7-previous-employment/payment-frequency">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  {% if data['peWhyEnd'] == "Other" %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
            Can you provide more detail?
          </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['pe-more-detail'] }}
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/7-previous-employment/payment-frequency">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                    </div>
                  {% endif %}

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What is the name of your previous employer?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['peEmployerName'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/7-previous-employment/employer-name">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What is the address of your previous employer?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['pe-address-line-1'] }}, 
            {% if data['pe-address-line-2'] %}
                        {{ data['pe-address-line-2'] }},
            {% endif %}
                      {{ data['pe-address-town'] }}
                      {% if data['pe-address-postcode'] %}
            , {{ data['pe-address-postcode'] | upper}}
                      {% endif %}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="v3_0-citizen/7-previous-employment/employer-address">
              Change
              <span class="govuk-visually-hidden"> your employers address</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Do you expect to receive any more payments from this job?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['peExpectPayment'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/7-previous-employment/hours">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Were you self-employed or a company director?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['peSelfEmployedOrCompanyDirector'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/7-previous-employment/self-employed-or-company-director">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                </dl>

                <div class="govuk-grid-row govuk-!-margin-bottom-9">
                  <div class="govuk-grid-column-two-thirds">
                    <a href="/v3_0-citizen/7-previous-employment/when-employer" class="govuk-body">Add another employer</a>

                  </div>
                  <div class="govuk-grid-column-one-third govuk-align-right" style="text-align: right;">
                    <a href="remove-pe-employer" class="govuk-body" aria-label="Remove First previous employer details">Remove employer details</a>
                  </div>
                </div>
              {% endif %}

              <!-- TIME SPENT ABROAD -->
              <h2 class="govuk-heading-l govuk-!-margin-top-9">Time spent abroad</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Have you worked or claimed benefits abroad in the last 4 years?
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['workBenefitAbroad'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/8-abroad/guard">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
                    </a>
                  </dd>
                </div>

              </dl>

              <!-- CURRENT PENSIONS -->
              <h2 class="govuk-heading-l">Pension or annuity</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Are you getting money from a pension or annuity?
          </dt>

                  <dd class="govuk-summary-list__value">
                    {{ data['currentPensionGuard'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    {% if data['currentPensionGuard'] == "No" %}
                      <a href="/v3_0-citizen/9-pensions/9a-current-pension/guard">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
                      </a>
                    {% endif %}
                  </dd>
                </div>

              </dl>

              <!-- FIRST CURRENT PENSION -->
              {% if data['currentPensionGuard'] == "Yes" %}
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">Pension or annuity - First</h3>
                  </div>
                  <div class="govuk-grid-column-one-third govuk-align-right" style="text-align: right;">
                    <a href="/v3_0-citizen/9-pensions/9a-current-pension/guard" class="govuk-body" aria-label="Change First Previous employer">Change</a>
                  </div>
                </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What is the name of your pension or annuity provider?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['current-pension-provider-name'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/9-pensions/9a-current-pension/provider-name">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What is the address of your pension or annuity provider?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['current-pension-address-line-1'] }},
            {% if data['current-pension-address-line-2'] %}
                        {{ data['current-pension-address-line-2'] }},
            {% endif %}
                      {{ data['current-pension-address-town'] }}
                      {% if data['current-pension-address-postcode'] %}
            , {{ data['current-pension-address-postcode'] | upper }}
                      {% endif %}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="v3_0-citizen/9-pensions/9a-current-pension/provider-address">
              Change
              <span class="govuk-visually-hidden"> your employers address</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            How often is your pension or annuity paid?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['current-pension-paid'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/9-pensions/9a-current-pension/payment-frequency">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What is your gross pension or annuity?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['current-pension-paid']=="Weekly" %}
              £{{ data['current-pension-paid-weekly-amount'] }}
                      {% endif %}
                      {% if data['current-pension-paid']=="Every 2 weeks" %}
              £{{ data['current-pension-paid-fortnightly-amount'] }}
                      {% endif %}
                      {% if data['current-pension-paid']=="Every 4 weeks" %}
              £{{ data['current-pension-paid-4weeks-amount'] }}
                      {% endif %}
                      {% if data['current-pension-paid']=="Every month" %}
              £{{ data['current-pension-paid-monthly-amount'] }}
                      {% endif %}
                      {% if data['current-pension-paid']=="Every 3 months" %}
              £{{ data['current-pension-paid-3monthly-amount'] }}
                      {% endif %}
                      {% if data['current-pension-paid']=="Twice a year" %}
              £{{ data['current-pension-paid-twiceyearly-amount'] }}
                      {% endif %}
                      {% if data['current-pension-paid']=="Once a year" %}
              £{{ data['current-pension-paid-yearly-amount'] }}
                      {% endif %}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/9-pensions/9a-current-pension/payment-frequency">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            Does your pension or annuity increase in the next six months?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['currentPensionDoesItIncrease'] }}
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/9-pensions/9a-current-pension/increase-does-it">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                  </div>

                  {% if data['currentPensionDoesItIncrease'] == "Yes" %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
            When will your pension or annuity increase?
          </dt>
                      <dd class="govuk-summary-list__value" style="text-transform: capitalize;">
                        {{ data['current-pension-increase-frequency'] }}
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
            <a href="/v3_0-citizen/9-pensions/9a-current-pension/increase-when">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
          </dd> -->
                    </div>
                  {% endif %}

                </dl>

                <div class="govuk-grid-row govuk-!-margin-bottom-9">
                  <div class="govuk-grid-column-two-thirds">
                    <a href="/v3_0-citizen/9-pensions/9a-current-pension/provider-name" class="govuk-body">Add another current pension</a>

                  </div>
                  <div class="govuk-grid-column-one-third govuk-align-right" style="text-align: right;">
                    <a href="remove-pension" class="govuk-body" aria-label="Remove First previous employer details">Remove pension details</a>
                  </div>
                </div>
              {% endif %}

              <!-- EDUCATION AND TRAINING -->
              <h2 class="govuk-heading-l govuk-!-margin-top-9">Education and training</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
            Have you been in education or training in the last 4 years?
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['eduHaveYou'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="/v3_0-citizen/10-education/guard">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
                    </a>
                  </dd>
                </div>

                {% if data['eduHaveYou'] == "Yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What was the name of the course?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['eduCourseName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!--
              <a href="/v3_0-citizen/10-education/course-name">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
             </a>
             -->
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            What was the name of the education or training provider?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['eduInstitutionName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!--
              <a href="/v3_0-citizen/10-education/institution-name">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
            -->
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            How many hours a week did you spend on the course?
          </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['eduCourseHours'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!--
              <a href="/v3_0-citizen/10-education/course-hours">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
            </a>
            -->
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
            When did you attend this course?
          </dt>
                    <dd class="govuk-summary-list__value">

                      {{ data['eduStartDay'] }}/{{ data['eduStartMonth']}}/{{ data['eduStartYear'] }} to {{ data['eduFinishDay'] }}/{{ data['eduFinishMonth']}}/{{ data['eduFinishYear'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!--
              <a href="/v3_0-citizen/10-education/course-duration">
              Change
              <span class="govuk-visually-hidden"> your answer</span>
              </a>
            -->
                    </dd>
                  </div>
                {% endif %}

              </dl>

              {{ govukButton({
  text: "Continue",
  href: "claimant-commitment"
}) }}
            </div>
          </div>
        </main>
      </div>

    {% endblock %}