
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Pension or annuity</span>
        When will your pension or annuity increase?
      </h1>

      <form action="increase-when" method="post">
 <!-- Filter to show next 6 months from todays date - filter doens't woork 
        {{ govukRadios({
          idPrefix: "current-pension-increase-frequency",
          name: "current-pension-increase-frequency",
          items: TODAYS_DATE.month | getNextSixMonths,
          checked: checked("current-pension-increase-frequency")
        }) }} -->

        {{ govukRadios({
          idPrefix: 'current-pension-increase-frequency',
          name: 'current-pension-increase-frequency',
          items: [
              {
                  value: "april",
                  text: "April",
                  checked: checked("current-pension-increase-frequency", "april")
              },
              {
                  value: "may",
                  text: "May",
                  checked: checked("current-pension-increase-frequency", "may")
              },
              {
                  value: "june",
                  text: "June",
                  checked: checked("current-pension-increase-frequency", "june")
              },
              {
                  value: "july",
                  text: "July",
                  checked: checked("current-pension-increase-frequency", "july")
              },
              {
                  value: "august",
                  text: "August",
                  checked: checked("current-pension-increase-frequency", "august")
              },
              {
                  value: "september",
                  text: "September",
                  checked: checked("current-pension-increase-frequency", "september")
              }
          ]
        })
      }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
