
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Future pension</span>
        Do you have another pension or annuity that you expect to receive in the next 6 months?
      </h1>

      <form action="another-one" method="post">

        {{ govukRadios({
          idPrefix: "future-pension-another-one",
          name: "futurePensionAnotherOne",
          classes: "govuk-radios--inline",
          items: [{
            value: "future-pension-another-one-yes",
            text: "Yes"
          }, {
            value: "future-pension-another-one-no",
            text: "No"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
