
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Future pension</span>
        When does the future pension or annuity start?
      </h1>

      <form action="when-start" method="post">

        {{ govukRadios({
          idPrefix: "future-pension-when-start",
          name: "futurePensionWhenStart",
          items: todaysDate.month | getNextSixMonths
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
