{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Previous employment</span>
        Were you self-employed or a company director?
      </h1>

      <form action="self-employed-or-company-director" method="post">

        {{ govukRadios({
            idPrefix: 'pe-self-employed-or-company-director',
            name: 'peSelfEmployedOrCompanyDirector',
            classes: "govuk-radios--inline",
            items: [
                {
                    value: "Yes",
                    checked: checked("peSelfEmployedOrCompanyDirector", "Yes"),
                    text: "Yes"
                },
                {
                    value: "No",
                    checked: checked("peSelfEmployedOrCompanyDirector", "No"),
                    text: "No"
                }
            ]
          })
        }}

        {{ govukButton({
            text: "Continue",
            href: "another-job-ended-last-six-months"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}