{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Previous employment</span>
        When did you work for this employer?
      </h1>

      <form action="why-end" method="post">

        {{ govukDateInput({
          id: 'pe-when-employer-start',
          name: 'peWhenEmployerStart',
          fieldset: {
            legend: {
                text: 'Enter the employment start date',
                isPageHeading: false,
                classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
              text: "For example, 31 3 2018"
          },
          items: [
            {
              name: 'peStartDay',
              value: data['peStartDay'],
              classes: 'govuk-input--width-2',
              label: 'Day'
            },
            {
              name: 'peStartMonth',
              value: data['peStartMonth'],
              classes: 'govuk-input--width-2',
              label: 'Month'
            },
            {
              name: 'peStartYear',
              value: data['peStartYear'],
              classes: 'govuk-input--width-4',
              label: 'Year'
            }
          ]
          })
        }}

        {{ govukDateInput({
          id: 'pe-when-employer-finish',
          name: 'peWhenEmployerFinish',
          fieldset: {
            legend: {
                text: 'Enter the employment end date',
                isPageHeading: false,
                classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
              text: "For example, 31 3 2018"
          },
          items: [
            {
              name: 'peFinishDay',
              value: data['peFinishDay'],
              classes: 'govuk-input--width-2',
              label: 'Day'
            },
            {
              name: 'peFinishMonth',
              value: data['peFinishMonth'],
              classes: 'govuk-input--width-2',
              label: 'Month'
            },
            {
              name: 'peFinishYear',
              value: data['peFinishYear'],
              classes: 'govuk-input--width-4',
              label: 'Year'
            }
          ]
          })
        }}

        {{ govukButton({
            text: "Continue",
            href: "why-did-it-end"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}