{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Application start date</span>
        Were you available for work from {{ data['claim-start-day'] }}
        {{ data['claim-start-month'] }}
        {{ data['claim-start-year'] }}?
      </h1>
      <form action="searching-for-work" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "ce-currently-working",
          name: "ceCurrentlyWorking",
          hint: {
            text: ""
          },
          items: [{
            value: "yes",
            text: "Yes",
            checked: checked("ceCurrentlyWorking", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("ceCurrentlyWorking", "no")
          }]
        }) }}

        {{ govukButton({
            text: "Continue",
            href: "searching-for-work"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}