{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Application start date</span>
        Have you been unable to work because of illness since {{ data['claim-start-day'] }}
        {{ data['claim-start-month'] }}
        {{ data['claim-start-year'] }}?
      </h1>
      <p class="govuk-body">
        You will need to tell us the dates you were unable to work.
      </p>

      <form action="been-on-holiday" method="post">

        {% set illnessHtml %}
        {{ govukDateInput({
            id: 'illness-start',
            name: 'illnessStart',
            fieldset: {
              legend: {
                text: 'Enter the date the illness started',
                isPageHeading: false,
                classes: 'govuk-fieldset__legend--m'
              }
            },
            hint: {
              html: 'For example, 19 April 2024'
            },
            items: [
              {
                name: 'illnessStartDay',
                value: data['illnessStartDay'],
                classes: 'govuk-input--width-2',
                label: 'Day'
              },
              {
                name: 'illnessStartMonth',
                value: data['illnessStartMonth'],
                classes: 'govuk-input--width-2',
                label: 'Month'
              },
              {
                name: 'illnessStartYear',
                value: data['illnessStartYear'],
                classes: 'govuk-input--width-4',
                label: 'Year'
              }
            ]
            })
          }}

        {{ govukDateInput({
            id: 'illness-finish',
            name: 'illnessFinish',
            fieldset: {
              legend: {
                text: 'Enter the date the illness ended',
                isPageHeading: false,
                classes: 'govuk-fieldset__legend--m'
              }
            },
            hint: {
              html: 'For example, 19 May 2024'
            },
            items: [
              {
                name: 'illnessFinishDay',
                value: data['illnessFinishDay'],
                classes: 'govuk-input--width-2',
                label: 'Day'
              },
              {
                name: 'illnessFinishMonth',
                value: data['illnessFinishMonth'],
                classes: 'govuk-input--width-2',
                label: 'Month'
              },
              {
                name: 'illnessFinishYear',
                value: data['illnessFinishYear'],
                classes: 'govuk-input--width-4',
                label: 'Year'
              }
            ]
            })
          }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "unable-to-work",
          name: "unableToWork",
          hint: {
            text: ""
          },
          items: [{
            value: "yes",
            text: "Yes",
            checked: checked("unableToWork", "yes"),
            conditional: {
              html: illnessHtml
            }
          },
          {
            value: "no",
            checked: checked("unableToWork", "no"),
            text: "No"
          }]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}