{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Time spent abroad</span>

      <form action="guard" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "workBenefitAbroad",
          fieldset: {
            legend: {
              text: "Have you worked or claimed benefits abroad in the last 4 years?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
              
            }
          },
          hint: {
            text: "You do not need to tell us if you have claimed UK benefits while you were on holiday abroad."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("workBenefitAbroad", "yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("workBenefitAbroad", "no")
            }
          ]
        }) }}

        {{ govukButton({
            text: "Continue",
            href: "/nsjsa/to-do-9"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}