{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Jury service</span>
        When was this jury service?
      </h1>

      <form action="period" method="post">

        {{ govukDateInput({
          id: 'jury-service-start',
          name: 'juryServiceStart',
          fieldset: {
            legend: {
              text: 'Jury service start date',
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
            html: 'For example, 12 9 2024' 
          },
          items: [
            {
              name: 'juryStartDay',
              value: data['juryStartDay'],
              classes: 'govuk-input--width-2',
              label: 'Day'
            },
            {
              name: 'juryStartMonth',
              value: data['juryStartMonth'],
              classes: 'govuk-input--width-2',
              label: 'Month'
            },
            {
              name: 'juryStartYear',
              value: data['juryStartYear'],
              classes: 'govuk-input--width-4',
              label: 'Year'
            }
          ]
          })
        }}

        {{ govukDateInput({
          id: 'jury-service-finish',
          name: 'juryServiceFinish',
          fieldset: {
            legend: {
              text: 'Jury service end date',
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
            html: 'For example, 16 9 2024'
          },
          items: [
            {
              name: 'juryFinishDay',
              value: data['juryFinishDay'],
              classes: 'govuk-input--width-2',
              label: 'Day'
            },
            {
              name: 'juryFinishMonth',
              value: data['juryFinishMonth'],
              classes: 'govuk-input--width-2',
              label: 'Month'
            },
            {
              name: 'juryFinishYear',
              value: data['juryFinishYear'],
              classes: 'govuk-input--width-4',
              label: 'Year'
            }
          ]
          })
        }}

        {{ govukButton({
            text: "Continue",
            href: "/nsjsa/to-do-6"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}