{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Education and training</span>
        Course details
      </h1>

      <form action="course-name" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
  label: {
    text: "What is the name of the course?",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  classes: "govuk-!-width-two-thirds",
  id: "edu-course-name",
  name: "eduCourseName",
  value: data['eduCourseName']
}) }}

        {{ govukInput({
  label: {
    text: "What is the name of the education or training provider?",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  classes: "govuk-!-width-two-thirds",
  hint: {
    text: "For example, The Open University"
  },
          id: "edu-institution-name",
          name: "eduInstitutionName",
          value: data['eduInstitutionName'],
  spellcheck: false
}) }}

        {{ govukButton({
          text: "Continue",
          href: "course-hours-current"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}