{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Education and training</span>
        When did you attend this course?
      </h1>

      <form action="course-duration" method="post">

        {{ govukDateInput({
          id: 'edu-when-education-start',
          name: 'eduWhenEducationStart',
          fieldset: {
            legend: {
                text: 'Course start date',
                isPageHeading: false,
                classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
              text: "For example, 1 9 2018"
          },
          items: [
            {
              name: 'eduStartDay',
              value: data['eduStartDay'],
              label: "Day",
              classes: 'govuk-input--width-2'
            },
            {
              name: 'eduStartMonth',
              value: data['eduStartMonth'],
              label: "Month",
              classes: 'govuk-input--width-2'
            },
            {
              name: 'eduStartYear',
              value: data['eduStartYear'],
              label: "Year",
              classes: 'govuk-input--width-4'
            }
          ]
          })
        }}

        {{ govukDateInput({
          id: 'edu-when-education-finish',
          name: 'eduWhenEducationFinish',
          fieldset: {
            legend: {
                text: 'Course end date',
                isPageHeading: false,
                classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {

            html: 'For example, 24 9 2019<br>This needs to be the official end date of the whole course'
          },
          items: [
            {
              name: 'eduFinishDay',
              value: data['eduFinishDay'],
              label: "Day",
              classes: 'govuk-input--width-2'
            },
            {
              name: 'eduFinishMonth',
              value: data['eduFinishMonth'],
              label: "Month",
              classes: 'govuk-input--width-2'
            },
            {
              name: 'eduFinishYear',
              value: data['eduFinishYear'],
              label: "Year",
              classes: 'govuk-input--width-4'
            }
          ]
          })
        }}

        {{ govukButton({
            text: "Continue",
            href: "/nsjsa/to-do-11"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}