{% extends "layouts/main.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-xl">Education and training</span>
          <h1 class="govuk-fieldset__heading">
        Have you completed the course?
      </h1>
        </legend>

        <form action="completed" method="post">

          {{ govukRadios({
          idPrefix: "edu-have-you",
          name: "eduHaveYou",
          classes: "govuk-radios--stacked",
          items: [{
            value: "Yes~course-name",
            checked: checked("eduHaveYou", "Yes"),
            text: "Yes"
          }, {
            value: "No~course-name-current",
            checked: checked("eduHaveYou", "No"),
            text: "No, the course is ongoing"
          }]
        }) }}

          {{ govukButton({
          text: "Continue"
        }) }}

        </form>
      </fieldset>

    </div>
  </div>

{% endblock %}