{% extends "layouts/main.html" %}

{% set pageName = "Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# {% include "govuk-prototype-kit/includes/homepage-top.njk" %} #}

      <h1 class="govuk-heading-l">Service in six weeks</h1>
      <h3 class="govuk-heading-s">14 November 2024</h3>
      <h2 class="govuk-heading-m">Initial concept prototypes</h2>
      <p class="govuk-body">These are links to the concept of applying for New Style benefits from the point that an account has been created.</p>
      <p class="govuk-body">Some of the functionality that was in the original individual protoypes has been stripped out to enable more rapid prototyping where there I encountered any code conflict.</p>
      <p class="govuk-body">So in effect, each landing page you will see from here would consitute the first page after you have successfully created an account and logged in.</p>
      <p class="govuk-body">At the point that this prototype was created, it was perceived that a user would have passed some pre-account eligibility questions, created an account and got to the stage where this begins.</p>
      <p class="govuk-body">In a real life scenario a user would be able to start anywhere in the journey and complete the to-dos in any order. But for speediness in this prototype they can only go in a linear order</p>
      <p class="govuk-body">As well as the end to end apply journey, which has extra questions compared to the current live journey, we also tested the <a class="govuk-link" href="nsjsa/post-to-dos/to-do-1">uploading evidence pattern</a> that comes up after the initial gather stage if appropriate.</p>
      <p class="govuk-body">
        <strong>Neil Holroyd</strong> – interaction designer</p>

      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="nsesa/to-dos/to-do-1">Apply for NSESA</a>
      </h2>
      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="nsjsa/to-do-1">Apply for NSJSA</a>
      </h2>

      {# {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} #}
    </div>
  </div>

{% endblock %}