{% extends "layouts/main.html" %}
{# Custom macros #}
{% from "macros/macros.njk"      import govukCurrencyInput,
                                        grossPaymentAmountInput,
                                        netPaymentAmountInput,
                                        netAndGrossPaymentAmountInputs,
                                        grossPensionAmountInput,
                                        checkAnswersItem %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}


{% endblock %}
  {% block footer %}
  {{ govukFooter({
  meta: {
    items: [
      {
        href: "#",
        text: "Cymraeg"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "#",
        text: "Accessibility statement"
      },
      {
        href: "#",
        text: "Feedback(opens in new tab)"
      },
      {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
    ]
  }
}) }}

  {% endblock %}
